// Variables
$fuente-tipica: sans-serif, Helvetica, Arial;
$color-fondo: #ccc;
$color-letra: red;
$color-secundario: rgb(120, 20, 20);

// Uso de variables
body {
  background-color: $color-fondo;
}

h1 {
  font-family: $fuente-tipica;
  color: $color-secundario;
}

// Anidación
.caja {
  border: 1px solid black;
  width: 500px;
  margin: 0px auto;
  text-align: center;
  background-color: white;
  padding: 10px;

  h1 {
    color: blue;
  }

  p {
    color: green;
  }

  .info {
    font-size: 10px;

    .autor {
      font-size: 15px;
      color: orange;
    }
  }
}

// Mixins / funciones
@mixin crearBordes($color, $size, $shadow) {
  border: $size solid $color;
  border-radius: $size;
  box-shadow: 0px 0px $size $shadow;
}

.caja {
  @include crearBordes(red, 10px, black);
}

.listado {
  @include crearBordes(green, 20px, yellow);
}

// Herencia
%alert-normal {
  border: 1px solid gray;
  background-color: blue;
  border-radius: 20px;
  margin: 20px auto;
  color: white;
  padding: 10px;
  width: 60%;
}

.alert {
  @extend %alert-normal;
}

.alert-success {
  @extend %alert-normal;
  color: green;
  border-color: green;
}

.alert-danger {
  @extend %alert-normal;
  color: red;
  border-color: red;
}

// Operadores

h1{
  font-size: 20px + 5px;
}


.cajas{
  width: 900px;
  clear:both;
}

.caja{
  float: left;
  width: 1920px / 1920px * 100%;
}


h1{
  // Codicionales
  @if $color-fondo == #ccc{
    color: black;    
  } @else{
    color: lightsalmon;
  }
}

// For

